*{
    margin: 0;
    padding: 0;
 
}


.navbar{
    display: flex;
    justify-content:center;
    
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding:5px;
}

.navbar li:hover{
    background-color: aquamarine;
    

}





.container{
    margin: 20px;
    display: flex;
    height: 100vh;
    align-items: center;
}

.left{
    width: 50%;
}

.left h1{
    margin: 5px;
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;

}


.right img{
    width: 400px;
    height: 400px;
}